.calendar-elements-list {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr;

  @media (min-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: 900px) {
    grid-template-columns: repeat(3, 1fr);
  }


  p.empty-message {
    grid-column: 1 / -1; 
    text-align: center;
    color: #64748b;
    font-size: 1.2rem;
    padding: 2rem;
  }
}