<main class="main-container">
  <h1>Today's Day</h1>
  <app-barra-cerca (search-term)="filterCalendar($event)"></app-barra-cerca>
  <app-llista-elements [elements]="filteredElements"></app-llista-elements>
</main>

<!---
<div class="calendar-container">
  @for (element of mockElements; track element.id)
  {
    <div class="targeta-element">
      <h3>{{ element.name }}</h3>
      <p><strong>Inici:</strong> {{ element.dateStart | date: 'dd/MM/yyyy HH:mm' }}</p>
      <p><strong>Durada:</strong> {{ element.timeInMinutes }} minuts</p>
      @if (element.dateEnd)
      {
        <p><strong>Fi:</strong> {{ element.dateEnd | date: 'dd/MM/yyyy HH:mm' }}</p>
      }
    </div>
  } @empty {
    <p>Calendari buit</p>
  }
</div>
--->