<div class="targeta">
    <h3>{{ elementCalendar.name }}</h3>
    <p><strong>Inici:</strong> {{ elementCalendar.dateStart | date: 'dd/MM/yyyy HH:mm' }}</p>
    <p><strong>Durada:</strong> {{ elementCalendar.timeInMinutes }} minuts</p>
    @if (elementCalendar.dateEnd) {
    <p><strong>Fi:</strong> {{ elementCalendar.dateEnd | date: 'dd/MM/yyyy HH:mm' }}</p>
    }
    <button type="button" class="btn-details" (click)="onElementClick()" aria-label="Seleccionar + {{ elementCalendar.name }}">
        Seleccionar
    </button>
    <button (click)="togglePreferit($event)" class="btn-fav">
        @if (preferitsService.esPreferit(elementCalendar.id)) {
            Treure de preferits.
        } @else {
            Afegir a preferits.
        }
    </button>
</div>
