<div class="search-container">
    <div class="search-form">
        <div class="input-group">
            <label for="cerca" class="sr-only">Cerca esdeveniments...</label>
            <input
                type="text"
                [formControl]="termeCerca"
                placeholder="Cerca Esdeveniments..."
                class="cerca-input">

            @if (termeCerca.value) {
                <button (click)="netejar()" class="btn-netejar">Netejar</button>
            }
        </div>
        @if (termeCerca.pending) {
            <span class="validant">Validant...</span>
        }

        @if (termeCerca.invalid && termeCerca.touched && !termeCerca.pending) {
            <div class="errors" style="color: red; font-size: 0.85rem; margin-top: 0.5rem;">
                @if (termeCerca.errors?.['minlength']) {
                    <p>La cerca ha de ser com a minim 2 caràcters.</p>
                }
                @if (termeCerca.errors?.['maxlength']) {
                    <p>La cerca no pot superar els 50 caràcters.</p>
                }
                @if (termeCerca.errors?.['sensResultats']) {
                    <p>No s'ha trobat cap esdeveniment amb aquesta cerca.</p>
                }
            </div>
        }
    </div>
</div>
